.panels {
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  line-height: 50px;

  background:#6c6eb2;
  border-radius: 8px;
  border: 1px solid #424542;
  font-size: 20px;
  color: white;

}

.styles {
    padding: 10px;
}

